# API Endpoints
API_URL=https://example.com/graphql
API_DOMAIN=example.com

# Site URL
SITE_URL=https://example.com
SITE_DOMAIN=example.com

# Frontend URL
FRONTEND_URL=https://example.com
FRONTEND_DOMAIN=example.com

# GTM
GTM_ID=GTM-XXXXXXX

# Authentication credentials
BASIC_AUTH_USERNAME=username
BASIC_AUTH_PASSWORD=password
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyXXXXXXXX
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=DEMO_MAP_ID

DRAFT_AUTH_USERNAME=
DRAFT_AUTH_PASSWORD=
PREVIEW_SECRET_TOKEN=